<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Блог сайта </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>
<body>
<header th:insert="bloks/header :: header"></header>
<div class="container mt-5">
    <h1>Блог сайта </h1>
    <biv th:each="el : ${post}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"></h3>
        <p th:text="${el.fullText}"></p>
        <p th:text="${el.views}"></p>

        <a th:href="'/blog/' + ${el.id}">Редактирование</a>
        <form th:action="'/blog/' + ${el.id} +'/remove'" method="post">
        <button class="btn btn-warning" type="submit">Удалить</button>
        </form>
    </biv>
</div>
</body>
</html>