<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}"></title>
</head>
<body>
<p th:text="'Привет! ' + ${title}+ '!'"/>
<a HREF="Main.htm">Смотреть работу.</a>
<div class="col mb-3">
    <h5>Section</h5>
    <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="Home.htm" class="nav-link p-0 text-body-secondary">Домашняя</a></li>

        <li class="nav-item mb-2"><a href="Main.htm" class="nav-link p-0 text-body-secondary">Главная</a></li>

        <li class="nav-item mb-2"><a href="About.htm" class="nav-link p-0 text-body-secondary">Конец</a></li>
    </ul>
</div>
</BODY>
</HTML>
</body>
</html>