<div th:fragment="header">
    <div class="wrap">
        <link rel="stylesheet" type="text/css" href="templates/styleCSS/style.css"/>
            <div>
                <div>
                    <a href="#"><img src="Bear.jpg" alt=""/></a>
                </div>
                <div>
                    <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="/home" class="nav-link p-0 text-body-secondary">Домашняя</a></li>

                            <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Главная</a></li>

                            <li class="nav-item mb-2"><a href="About.htm" class="nav-link p-0 text-body-secondary">Конец</a></li>
                        </ul>
                </div>
            </div>
        </div>
</div>